.contacts{
  background: linear-gradient(0deg, rgba(123, 184, 62, 0.67), rgba(123, 184, 62, 0.67)), url('../img/contacts/contactsBg.png');
  background-size: cover;


  text-align: center;

  & img{
    margin-inline: auto;
  }
}

.contacts__title{
  color: $white-color;
}

.contacts__list{
  display: flex;

  flex-direction: column;
  gap: 5px;

  margin-bottom: 20px;
}

.contacts__link{
  color: $white-color;

  transition: color $time-animation $cubic-bezier;

  &:hover, &:focus{
    color: $accent-color;
  }
}

.contacts__button{
  margin: 20px auto 0;

  &:before{
    right: 5px;
  }
}

@include mq(desktop){
  .contacts{
    background: url("../img/contacts/contactsBg-gradient-des.png"), url("../img/contacts/contactsBg-des.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1280px;

    padding-top: 188px;
  }
  .contacts__flex-container{
    display: flex;
    flex-direction: row;
    gap: 100px;

    position: relative;

    & div{
      margin-left: 25px;
    }
  }

  .contacts__button{
    position: absolute;
    bottom: 10px;
    left: 25px;
  }
  .contacts__map img{
    width: 700px;
  }

  .contacts__logo{
    width: 175px;
    margin-bottom: 40px;
  }
}