<!DOCTYPE html>
<html lang="ua">
    <head>
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-S6PWXQ2QE4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-S6PWXQ2QE4');
        </script>
        <!-- End Google tag (gtag.js) -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>NST-HOUSE</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
        <link rel="icon" sizes="16x16" href="img/favicon/favic.png" type="image/png">
<!--        <link rel="icon" sizes="32x32" href="img/favicons/favicon-32x32.png" type="image/png">-->

        <link
                rel="stylesheet"
                href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
        />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Condensed:wght@300;400&display=swap"
              rel="stylesheet">

        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")
        <main>
            <img class="icon-form" src="./img/sprites/form.svg" alt="" data-modal-open>
            @@include("../blocks/modules/hero/hero.html")
            @@include("../blocks/modules/benefits/benefits.html")
            @@include("../blocks/modules/gallery/gallery.html")
            @@include("../blocks/modules/corporation/corporation.html")
            @@include("../blocks/modules/aboutUs/aboutUs.html")
            @@include("../blocks/modules/ourTeam/ourTeam.html")
            @@include("../blocks/modules/reviews/reviews.html")
          @@include("../blocks/modules/ourClients/ourClients.html")
          @@include("../blocks/modules/contacts/contacts.html")

        </main>
        @@include("../blocks/modules/footer/footer.html")
        @@include("../blocks/modules/modal/modal.html")
        <script type="module" src="https://kit.fontawesome.com/0377b0c2de.js" crossorigin="anonymous"></script>

        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>