.footer {
  background: #D4E8BF;
  padding: 20px 0;
}

.copyright {
  margin-inline: auto;
  //max-width: 170px;

  text-align: center;

  font-family: $title-font;
  font-weight: 300;

  color: #444444;
}
